#c-ring-configurator {
    --text-color: #521400;
    --bg-color: #e2e2e2;
    --font-primary: #{$pp-fragment};
    --font-secondary: #{$ot-jubilee};

    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: var(--font-primary);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.c-ring-configurator {
    &__actions,
    &__gem,
    &__engraving {
        opacity: 0;
    }

    &__configurator-inputs {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        padding: get-vw(30px);
        opacity: 0;
        transition: 0.3s;

        &.is-visible {
            opacity: 1;
        }
    }

    &__configurator-inputs-inner {
        height: get-vw(100px);
        width: 100%;
        position: relative;
    }

    &__input-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 0.25s;

        &.is-active {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transition-delay: 0.2s;
        }
    }

    &__configurator-inputs-tabs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        li {
            margin-right: get-vw(20px);

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__configurator-inputs-tab {
        text-transform: uppercase;
        position: relative;
        opacity: 0.5;
        transition: opacity 0.25s;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #dea593;
            transform: scaleX(0);
            transition: transform 0.25s;
        }

        @include hover {
            opacity: 1;
        }

        &.is-active {
            pointer-events: none;
            opacity: 1;

            &:after {
                transform: scaleX(1);
            }
        }
    }

    &__ring-material {
        display: block;

        ul {
            display: flex;
            gap: 10px;
        }
    }

    &__gem {
        display: block;

        ul {
            display: flex;
            gap: 10px;
        }
    }

    &__frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        pointer-events: none;
    }

    &__heading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        z-index: 2;
        text-align: center;
        padding: 20px;
        padding-top: get-vw(120px);
        padding-bottom: get-vw(70px);

        &-title {
            font-family: var(--font-secondary);
            font-size: get-vw(150px);
            line-height: 1em;
            margin-bottom: 0;
            //border: 1px solid blue;

            > div {
                padding: 0 0.15em;
                line-height: 1em;
                height: 1.15em;
                overflow: hidden;
                display: none;
                //border: 1px solid red;

                &.is-visible {
                    display: block;
                }

                > div {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        &-subtitle {
            font-size: 15px;
            margin-bottom: get-vw(70px);
            opacity: 0;
            visibility: hidden;
            transform: translateY(100%);
        }

        .has-options-active & {
            display: none;
        }
    }

    &__cta {
        margin-bottom: get-vw(70px);
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
    }

    &__button {
        @include button-reset();
        font-size: var(--fs-b0);
        padding: 10px 60px;
        background-color: transparent;
        border: 1px solid var(--text-color);
        border-radius: 100px;
        transition: all 0.2s;

        @include hover {
            background-color: var(--bg-color);
        }
    }

    &__model-inner {
        opacity: 0;
        transform: scale(0.3) translateY(-50%);
        transition: opacity 0.25s linear, transform 1.2s getTransitionEasing("ease-in-out-quad");

        &.is-visible {
            opacity: 1;
        }

        &.is-zoomed {
            transform: scale(1) translateY(0%);
        }
    }
}

.u-split-text-char {
    opacity: 0;
    visibility: hidden;
}

.c-color-option {
    border-radius: 7px;
    border: 1px solid #fff;
    background: #fff;
    transition: border-color 0.25s;
    padding: 13px 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    &.is-active {
        border-color: #a48e86;
    }
}

.c-color {
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;

    &--w-gold {
        background-color: #eaeaea;
    }

    &--r-gold {
        background-color: #f5d4d4;
    }

    &--y-gold {
        background-color: #f0daa5;
    }

    &--w {
        background-color: #eaeaea;
    }

    &--r {
        background-color: #ea5481;
    }

    &--g {
        background-color: #08a36b;
    }

    &--b {
        background-color: #0071c3;
    }
}
