.c-ring-configurator-header {
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    padding: 20px var(--frame-offset);

    @include mq(sm) {
        top: 0;
        padding: 15px var(--frame-offset);
        line-height: 0;
    }

    &__close {
        @include button-reset;
        font-size: var(--fs-b0);
        display: inline-flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: var(--frame-offset);
        margin-top: -0.75em;
        margin-left: -0.75em;
        transition: all 0.3s;
        padding-left: 0.5em;
        padding-right: 0.5em;
        opacity: 0;
        visibility: hidden;

        @include mq(sm) {
            margin-top: -0.25em;
            margin-left: -15px;
            padding: 15px;
            top: 50%;
            transform: translateY(-50%);

            span {
                display: none;
            }
        }

        .u-icon {
            font-size: 0.75em;
            margin-right: 0.75em;
            transition: all 0.3s;

            @include mq(sm) {
                font-size: 1em;
            }
        }

        @include hover {
            .u-icon {
                transform: translateX(-50%);
            }
        }

        .has-options-active & {
            opacity: 1;
            visibility: visible;
        }
    }

    &__title {
        display: inline-block;
        font-family: var(--font-secondary);
        font-size: 30px;
        height: 1.25em;
        overflow: hidden;
        //border: 1px solid blue;

        > div {
            padding: 0 0.15em;
            height: 1.15em;
            line-height: 1em;
            overflow: hidden;
            display: none;
            //border: 1px solid red;

            &.is-visible {
                display: block;
            }

            > div {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}
