.c-ring-configurator-header {
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    padding: 20px;
    pointer-events: none;

    &__title {
        display: inline-block;
        font-family: var(--font-secondary);
        font-size: 30px;
        height: 1.25em;
        overflow: hidden;
        //border: 1px solid blue;

        > div {
            padding: 0 0.15em;
            height: 1.15em;
            line-height: 1em;
            overflow: hidden;
            display: none;
            //border: 1px solid red;

            &.is-visible {
                display: block;
            }

            > div {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}
