:root {
    --font-primary: #{$roboto};
    --font-secondary: #{$roboto};
    --text-color: #{$black};
    --bg-color: #{$white};
    --fs-b0: 15px;
}

html,
body {
    -webkit-font-smoothing: antialiased;
}

body {
    @extend .u-b0;

    color: $black;
    background-color: $white;
}
