:root {
    --font-primary: #{$roboto};
    --font-secondary: #{$roboto};
    --text-color: #{$black};
    --bg-color: #{$white};
    --fs-b0: 15px;
    --frame-offset: 50px;

    @include mq(lg) {
        --frame-offset: 40px;
    }

    @include mq(md) {
        --frame-offset: 35px;
    }

    @include mq(sm) {
        --frame-offset: 15px;
    }
}

html,
body {
    -webkit-font-smoothing: antialiased;
}

body {
    @extend .u-b0;

    color: $black;
    background-color: $white;
}
